nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    pointer-events: none;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    pointer-events: auto;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover{
    color: rgb(138, 43, 226);
    transition: 0.5s ease;
}

.navbar-toggle-btn{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-toggle-btn:hover{
    transition: 0.5s ease;
}

.noSidebar{
    right: -250px; 
    transition: left 0.5s ease;
}

.noSidebar li{
    display: none;
}

.noSidebar a{
    display: none;
}


.sidebar{
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.847);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    padding-left: 0px;
    transition: right 1s ease;
}

.sidebar li{
    width: 100%;
}

.sidebar Link{
    width: 100%;
}

.sidebar:first-child li:hover{
    transition: 0.2s ease;
}

.sidebar li:hover{
    background-color: rgba(84, 0, 230, 0.883);
    color: white;
    font-size: 17px;
    transition: 0.2s ease;
}

.sidebar svg:hover{
    fill: white;
    transition: 0.3s ease;
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}