.split-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform, opacity;
}

.split-char,
.split-word {
  display: inline-block;
  will-change: transform, opacity;
}
